<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Clone</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>



<body>

    <div id = "container">
        <div id="game">
            <header>
                <h1 class = "title"> elephantle! </h1>
                <div id="countdown" class="timer-box">
                    12h 34m 56s until reset
                </div>
            </header>

            

            <div id = "board-container">
                
                
                <div id="board">
                    
                    <div id="dropdown-wrapper">
                        <input id="guess-input" placeholder="Type to guess..." autocomplete="off" />
                        <div id="dropdown-list" class="hidden"></div>
                    </div>

                    <div id="image-preview" class="hidden">
                        <img id="preview-img" src="" alt="Preview">
                    </div>

                    <div id="label-row">
                        <div class="column-label">Species</div>
                        <div class="column-label">Family</div>
                        <div class="column-label">Tusks</div>
                        <div class="column-label">Year Discovered</div>
                        <div class="column-label">Continent</div>
                        <div class="column-label">Status</div>
                    </div>
                    <div id = "answers">
                        <!-- rows go here -->
                    </div>
                    <!-- Centered image -->
                    <img id="correct-image" class="hidden correct-image" src="" alt="Correct Elephant">

                    <!-- Popup message -->
                    <div id="correct-popup" class="hidden correct-popup">
                    you have addressed the elephant in the room ✔️
                    </div>
                    
                    

                </div>



            </div>

        </div>
    </div>



</body>




</html>